button {
	text: Pixate Freestyle Rocks!;
	background-image: linear-gradient(blue, lightblue);
	border-radius: 10px;
	border-style: solid;
	border-width: 2px;
	border-color: darkgray;
}

#myView {
	background-image: linear-gradient(white, gray);
}

